examples/testing.py
aspire/__pycache__/*
*.pyc
*.7z
ASPIRE.egg-info/*
ASPIRETUI.egg-info/*
build/*
dist/*
z_bkup/*

AspireTUI/Classes/_sea_DB__W_I_P.py
AspireTUI/Classes/_Conf - Kopie.py
AspireTUI/Classes/_AppManager - Kopie.py
examples/HelloWorldApp.log
examples/HelloWorldApp.cfg
